@import "colours";
@import "media-query";

.shopping-page {
  &__title {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;

    @include sm-tablet {
      margin-top: 60px;
    }
  }

  &__loading-block {
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: center;

    @include sm-tablet {
      height: 300px;
    }
  }

  &__items-wrapper {
    max-width: 400px;
    margin: 40px auto;

    @include sm-tablet {
      margin: 100px auto;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__item {
    font-size: 12px;
    line-height: 18px;

    @include sm-tablet {
      font-size: 16px;
      line-height: 24px;
    }

    &.name {
      width: 33%;
    }

    &.price {
      width: 80px;
    }

    &.quantity {
      width: 20px;
    }
  }

  &__total-block {
    border-top: 2px solid $black-500;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
  }

  &__total-price {
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}
