<section class="dashboard">
  <app-banner class="dashboard__banner" [image]="bannerImg"></app-banner>
  <div class="dashboard__wrapper default-container">
    <div class="dashboard__input-section">
      <app-search-input
        class="dashboard__search-input"
        placeHolder="Product name"
        (onChange)="inputChanged($event)"
      ></app-search-input>
    </div>
    <div class="dashboard__products-section">
      <div
        *ngIf="isLoading.init; else showProducts"
        class="dashboard__loader-block"
      >
        <mat-spinner [strokeWidth]="3" [diameter]="90"></mat-spinner>
      </div>
      <ng-template #showProducts>
        <div
          class="dashboard__products-block"
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="50"
          (scrolled)="loadMoreProducts()"
        >
          <app-product-card
            *ngFor="let product of products"
            [product]="product"
            class="dashboard__products"
            (onClick)="productClicked($event)"
            (onDelete)="deleteProduct()"
          ></app-product-card>
        </div>
        <div *ngIf="isLoading.more" class="dashboard__loader-block">
          <mat-spinner [strokeWidth]="3" [diameter]="60"></mat-spinner>
        </div>
      </ng-template>
    </div>
  </div>
  <app-footer-buttons></app-footer-buttons>
</section>
